[Unit]
Description=Schedule: borgmatic backup (win10_c)

[Timer]
OnCalendar=Tue,Fri *-*-* 15:00:00
Persistent=true

[Install]
WantedBy=timers.target

